p, h1 {
    /* font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif; */
    font-family:'Times New Roman', Times, serif;
    /* color: red; */
}

input {
    margin: 10px;
    padding: 10px;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 50px;
    background-color: #ffffff;
}

input:hover {
    margin: 10px;
    padding: 10px;
    border: 1px solid rgb(90, 36, 36);
    border-radius: 50px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(90, 36, 36, 0.377);
}

button {
    margin: 10px;
    padding: 10px;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 50px;
    background-color: #ffffff;
}

button:hover {
    margin: 10px;
    padding: 10px;
    border: 1px solid rgb(90, 36, 36);
    border-radius: 50px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(90, 36, 36, 0.377);
}

.content {
    text-align: center;
}

#login-page {
    background-color: #ffffff;
}

.block-input {
    margin: 20px;
}

.block-input-title {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.form {
    text-align: center;
    padding: 50px 30% 50px 30%;
}

.content-chat {
    text-align: center;
    padding: 50px 30% 50px 30%;
}

.block-chat {
    width: 100%;
    height: 500px;
    overflow-x: hidden;
    overflow-wrap: break-word;
}

.block-chat-message {
    width: 100%;
}

/* For testing */
/* .message {
    border: 1px red dotted;
} */

#name {
    text-align: left;
    margin: 0px 10px 0px 0px;
    padding: 10px 10px 5px 20px;
}

#username-in-chat {
    text-align: right;
    margin: 0px 10px 0px 0px;
    padding: 10px 10px 5px 20px;
}

#text {
    text-align: left;
    border-radius: 20px;
    background-color: #e7e7e7;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 10px 20px 10px 20px;
}

#usertext-in-chat {
    text-align: left;
    border-radius: 20px;
    background-color: #e0c7c7;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 10px 20px 10px 20px;
}